<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Health Risk & Resiliency Profile</title>
    {{ script | safe }}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        html, body {
                    height: 100%                    
        }
        
        body {
              background-image:url("https://cdn1.imggmi.com/uploads/2018/10/14/1abb63528a87f84981458ea668c33c27-full.png");
              background-repeat: no-repeat;
              background-position: right bottom;
              background-color: rgba(255,255,255,0.6);
              background-blend-mode: lighten;
        }
  
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2><b><font color="green">Your Health Risk and Resiliency Profile Result</font></b></h2>
           <h1>{{prediction}}</h1>   
  </body>
  <body>
    <div class=page>
      {{ div | safe }} 
    </div>      
          
    <p>        
      Learn more about how to decrease your risk for diabetes here:
      <a href="http://www.diabetes.org"/>American Diabetes Association</a>
              <br/>
              <br/>
          <p><a href="/">Go Home</a></p>
          </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
